@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-Inter: "Inter", sans-serif;
  --font-Cormorant: "Cormorant Garamond", serif; 
}


:root {
  --bg: #FAFAF7;
  --text-primary: #1C1C1C;
  --text-secondary: #6B7280;
}

body {
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: var(--font-Inter);
}